*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    /*тк ширина контейнера 980 + 15*2 px*/
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Блок - Ссылка HTML-25*/

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.table {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 26px;
}


.tCell {
    display: table-cell;
}

a, button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

button {
    border: none;
    cursor: pointer;
}

header .left span {
    margin: 10px;
}

header .left, header .logo, header .right {
    width: 33.3333%;
    vertical-align: top;
}

header .logo {
    text-align: center;
}

header .right {
    text-align: right;
}

header .login {
    font-size: 13px;
    line-height: 18px;
    color: #006984;
}

header .menu {
    margin-top: 43px;
}

header .menu li {
    display: inline-block;
    margin-right: 18px;
}

header .menu li a {
    font-size: 13px;
    line-height: 18px;
    color: #333333;
}

header .menu li a:hover {
    text-decoration-color: transparent;
}

.logo {
}


header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

header .phone:hover {
    opacity: 0.7;
}

header .callback {
    font-size: 12px;
    line-height: 16px;
    color: #0069b4;
    text-decoration: none;
    border-bottom: 1px dashed #0069b4;
    display: table;
    margin-left: auto;
}

header .timing {
    font-size: 13px;
    line-height: 18px;
    color: #999999;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .basket span {
    color: #1a9547;
}

header .basket {
    margin-top: 30px;
}

header [class*="icon"] {
    color: #caebd4;
}

header .login [class*="icon"] {
    font-size: 18px;

}

header .login:hover {
    text-decoration-color: transparent;
}

header .phone [class*="icon"] {
    font-size: 20px;
}

header .right a:hover {
    opacity: 0.7;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.banner .sale {
    width: 305px;
    height: 360px;
}

.banner .slider {
    width: 640px;
    height: 360px;
}

.banner > div {
    -webkit-background-size: ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mb15 {
    margin-bottom: 15px;
}

.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
}

.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    padding-left: 12px;
    border: none;
    width: 100%;
    margin-top: 15px;
}

.subscribe button {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    background-color: #259c47;
    display: table-cell;
    vertical-align: middle;
    width: 188px;
}

.subscribe button:hover {
    opacity: 0.7;
}

.subscribe .wrap span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.subscribe .wrap {
    display: table;
    width: 100%;
    margin-top: 15px;
}


.subscribe {
    width: 320px;
    float: left;
    background-color: #63b94a;
    padding: 20px;
}

.advantages {
    width: calc(100% - 320px);
    float: left;
}

.advantages .item {
    width: 25%;
    float: left;
}

.filter {
    margin: 30px 0 30px 0;
}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
}

.filter li + li {
    margin-left: 18px;
}

.filter li a {
    text-decoration: none;
    color: #666666;
}

.filter li:hover {
    border-bottom: 1px solid #666666;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.card .img {
    width: 100%;
    height: 220px;
    -webkit-background-size: ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .title {
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.card .name {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
}

.card button {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #ff7200;
    width: 103px;
    height: 32px;
    float: right;
}

.card button:hover {
    opacity: 0.7;
}

.card .status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.card .content {
    min-height: 110px;
    position: relative;
}

.card .buy {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10px;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #ffed03;
}

.status.new {
    background-color: #78ec71;

}

.widjets h2 {
    margin: 75px 0 60px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666
}

.widjets .item:first-child, .widjets .item:last-child {
    width: 290px;
    height: 400px;
}

.widjets .item:nth-child(2) {
    width: 350px;
    height: 400px;
}

.widjets .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.widjets .wrap {
    display: flex;
    justify-content: space-between;
}

.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.tubContent p {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.tubContent .title {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-left: 25px;
}

.info .title:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #333333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 5px;
    left: 0;
}

.info .title.active:before {
    transform: rotate(180deg);
}

footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64b94a;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a.soc {
    font-size: 21px;
}

.footMenu {
    width: 50%;
    float: left;
}

.footMenu .col {
    width: 50%;
    float: left;
}

.footCont {
    width: 25%;
    float: left;
}

.copyright {
    width: 25%;
    float: left;
}

/*Новости подробно (news.html)*/

.breadCrumbs li a, .breadCrumbs li {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}

.firstCap {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.secCap {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.newsDate {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.newsTxt {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.moreNews {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

/*Корпоративным клиентам (client.html)*/

.breadCrumbs li a, .breadCrumbs li {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}

.wrapper p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.wrapLabel label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.formLogo span:nth-child(1) {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.formLogo span:nth-child(2) {
    font-size: 11px;
    line-height: 22px;
    color: #333333;
}

.formLogo label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.addLogo label a {
    font-size: 13px;
    line-height: 22px;
    color: #229647;
}

.addLogo span {
    font-size: 11px;
    line-height: 22px;
    color: #999999;
}

.rightWrap span {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.rightWrap a {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
}

.leftWrap button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

/*Оформление заказа (order.html)*/

.breadCrumbs li a, .contentOrder .breadCrumbs li span {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}

.contentOrder h1 {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.contentOrder h2 {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.contentOrder .orderCity label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.contentOrder label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    font-weight: 600;
}

.contentOrder li p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.contentOrder li span {
    font-size: 12px;
    line-height: 18px;
    color: #f26522;
}

.orderList li {
    padding-left: 40px;
}

.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
}

.radioBtn:not(checked) + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioBtn:not(checked) + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.radioBtn:checked + label::before {
    border-color: #51bf87;:;
}

.radioBtn:checked + label::after {
    opacity: 1;
}

.radioBtn {
    display: none;
}

.required {
    color: #ed1c24;
}

.data label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.contentOrder button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .banner .sale {
        height: 350px;
        width: 295px;
    }

    .slider {
        height: 350px;
        width: 620px;
    }

    .advantages {
        width: calc(100% - 300px);
    }

    .subscribe {
        width: 300px;
    }

    .widjets {
        display: none;
    }
}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}